@font-face {
    font-family: "Gontserrat";
    src: url(Gontserrat-Black.tff) format("truetype");
    font-weight: normal;
}

  @font-face {
    font-family: "Gontserrat";
    src: url(Gontserrat-Black-Italic.tff) format("truetype");
    font-weight: italic;
}

body {
    min-height:         95vh;
    display:            flex;
    flex-direction:     column;
    align-items:        center;
    justify-content:    center;
    font-family:        "Gontserrat", Arial;
    font-weight:        italic;
    background:         linear-gradient(
        to top,
        #009BC8,
        #003764
    );
}

header {
    flex-direction:     row;
    display:            flex;
    justify-content:    space-around;
    font-size:          85px;
    
}

.nw {
    content:    url(../media/03.png);
    width:      70px;
}

.input-field {
    padding:    10px 0;

}

.input {
    height:         20px;
    width:          100%;
    border:         none;
    outline-color:  #009BC8;
    border-radius:  10px
}

.bottom {
    flex-direction:     row;
    display:            flex;
    justify-content:    space-around;
    margin-top:         10px
}